body
{
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}

#title
{
    font-size: 80px;
    width: 100%;
    text-align: center;
    font-family: 'Courgette', sans-serif;
    color: #FFFFFF;
    text-shadow: 4px 4px 4px #f7bb63;
    transform: translate(125px, 40px);
}

.table
{
  border-collapse: collapse;
  width: 75%;
  color: #d96459;
  font-family: monospace;
  font-size: 25px;
  margin: right;
  text-align: left;
}

th {
  background: #588c72;
  color: white;
}
tr:nth-child(even) {background-color: #f2f2f2}
tr:nth-child(odd) {background-color: #ffffff}

.buttons
{
    font-size: 40px;
    border-radius: 25px;
    width: 20%;
    height: 15%;
    margin-top: 2%;
    font-family: 'Courgette', sans-serif;
    background-color: #ffffff;
    color: #5A4860;

}

.buttons:hover{
    background-image: linear-gradient(#f08d54, #c26d6a);
    color: #FFFFFF;
    opacity: 0.5;
    cursor: pointer;
}