body
{
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}

.userNameTitle
{
    font-size: 80px;
    width: 100%;
    text-align: center;
    font-family: 'Courgette', sans-serif;
    color: #FFFFFF;
    text-shadow: 4px 4px 4px #f7bb63;
    transform: translate(0px, 40px);
}

.test {
  margin-left: auto; margin-right: auto;

}
div {
    width: 100px;
    height: 100px;

    position: absolute;
    top:20%;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}
.searchbar
{
  width: 80%;
  border-radius: 10px;
}

.container {
	position: absolute;
    width: 800px;
    height: auto;
}

.table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  max-width: 1200px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
}

.table thead {
  background-color: #3badb7;
  text-align: left;
  font-weight: bold;
  height: 1px;

}
.tabel tbody td {
  height: 105px;
}
.table tbody tr:nth-child(even) {
  background-color: #f6f6f6;
}
.table tbody tr:nth-child(odd) {
  background-color: #ffffff;
}


td {
  text-align: left;
  height: 54px;
}

table, td {
  border: 1px solid #0e0d0d;
}



.buttons
{
    font-size: 30px;
    border-radius: 25px;
    width: 24%;
    height: 10%;
    margin-top: 2%;
    font-family: 'Courgette', sans-serif;
    background-color: #ffffff;
    color: #5A4860;

}

.buttons:hover{
    background-image: linear-gradient(#f08d54, #c26d6a);
    color: #FFFFFF;
    opacity: 0.5;
    cursor: pointer;
}
