body
{
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}

#title
{
    font-size: 80px;
    width: 100%;
    text-align: center;
    font-family: 'Courgette', sans-serif;
    color: #FFFFFF;
    text-shadow: 4px 4px 4px #f7bb63;
    transform: translate(125px, 40px);
}

#loginDiv
{
    font-size: 30px;
    width: 20%;
    height: 33%;
    margin-left: 45%;
    margin-top: 5%;
    padding: 25px;
    background-color: #5A4860;
    border-radius: 25px;
    position: sticky;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#accessUIDiv
{
    font-size: 30px;
    width: 70%;
    margin-left: 15%;
    padding: 25px;
    background-color: #b2b2b2;
}

.buttons
{
    font-size: 40px;
    border-radius: 25px;
    width: 100%;
    height: 15%;
    margin-top: 2%;
    font-family: 'Courgette', sans-serif;
    background-color: #ffffff;
    color: #5A4860;
}

.buttons:hover{
    background-image: linear-gradient(#f08d54, #c26d6a);
    color: #FFFFFF;
    opacity: 0.78;
    cursor: pointer;
}

#loginName
{
	font-size: 30px;
}
#loginPassword
{
	font-size: 30px;
}
#searchText
{
	font-size: 30px;
}
#colorText
{
	font-size: 30px;
}

input[type="text"],input[type="password"]{
    border-radius: 25px;
    text-align: center;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 2%;
    font-family: 'Courgette', sans-serif;
}

input[type="edit"]{
    border-radius: 25px;
    font-family: 'Courgette', sans-serif;
}

#inner-title{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    font-family: 'Courgette', sans-serif;
    color: #ffffff;
}

#loginResult{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    font-family: 'Courgette', sans-serif;
    color: #95060a;
}

#userName{
    display: inline-block;
    width: 80%;
    margin-left: 10%;
    text-align: center;
}

input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
}

.container {
  background: -webkit-linear-gradient(right,#003366,#004080,#0059b3
, #0073e6);
  padding: 20px;
  width: 1500px;
}

#message {
  display: center;
  background: #ffffff;
  color: #000;
  position: relative;
  padding: 20px;
  margin-top: 10px;
}

#message p {
  padding: 10px 35px;
  font-size: 18px;
}

.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -35px;
  content: "?";
}

.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -35px;
  content: "?";
}

.table {
  border-collapse: collapse;
  margin: 25px 0;
  width: 800px;
  font-size: 0.9em;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
}

.table thead {
  background-color: #3badb7;
  font-weight: bold;
  height: 1px;
}
.tabel tbody td {
  height: 105px;
}
.table tbody tr:nth-child(even) {
  background-color: #f6f6f6;
}
.table tbody tr:nth-child(odd) {
  background-color: #ffffff;
}

td {
  height: 54px;
}

table, td {
  border: 1px solid #0e0d0d;
}

.button
{
    display: center;
    font-size: 40px;
    border-radius: 25px;
    width: 150px;
    height: 50px;
    font-family: 'Courgette', sans-serif;
    background-color: #ffffff;
    color: #5A4860;
}

.button:hover{
    background-image: linear-gradient(#f08d54, #c26d6a);
    color: #FFFFFF;
    opacity: 0.78;
    cursor: pointer;
}