body
{
    background-image: url("../images/background1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}

#loginTop
{
    font-size: 30px;
    width: 500px;
    height: 250px;
    margin: auto;
    padding: 30px;
    background-color: #35abb5;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

#login
{
    font-size: 100px;
    width: 100%;
    text-align: center;
    font-family: 'Courgette', sans-serif;
    color: #FFFFFF;
    text-shadow: 4px 4px 4px #f7bb63;
}

input[type = "text"], input[type = "password"]
{
    border-radius: 30px;
    text-align: center;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 5%;
    font-family: 'Courgette', sans-serif;
    padding: 1px 2px;
}

.buttons
{
    margin: auto;
    font-size: 30px;
    border-radius: 25px;
    width: 80%;
    height: 30%;
    margin-left: 10%;
    margin-bottom: 5%;
    font-family: 'Courgette', sans-serif;
    background-color: #ffffff;
    color: #5A4860;
    cursor: pointer;
}

.buttons:hover{
    background-image: linear-gradient(#f29a53, #f29a53);
    color: #FFFFFF;
    opacity: 0.78;
}

.link
{
    margin: auto;
    font-size: 20px;
    margin-left: 10%;
    margin-bottom: 5%;
    width: 80%;
    background: none;
    border: none;
    padding: none;
    color: #069;
    cursor: pointer;
}

#userName
{
    display: inline-block;
    font-size: 30px;
    width: 80%;
}

#password
{
    display: inline-block;
    font-size: 30px;
    width: 80%;
}

#loginButton
{
    display: inline-block;
    font-size: 30px;
    width: 80%;
}

#signButton
{
    width: 80%;
}