body
{
    background-image: url("../images/background1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#loginTop
{
    font-size: 30px;
    width: 70%;
    margin-left: 15%;
    padding: 25px;
}

#login
{
    font-size: 100px;
    width: 100%;
    text-align: center;
    color:blueviolet;
}

#reqtext
{
    font-size: 30px;

}

#userName
{
    font-size: 30px;
    width: 2.5in;
}

#password
{
    font-size: 30px;
    width: 2.5in;
}

div 
{
    display: flex;
    justify-content: center;
}