@import url('https://fonts.googleapis.com/css?family=Courgette');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courgette', sans-serif;

}

#title
{
    font-size: 100px;
    width: 100%;
    text-align: center;
    font-family: 'Courgette', sans-serif;
    color: #FFFFFF;
    text-shadow: 4px 4px 4px #f7bb63;
    transform: translate(25px, 40px);
}

html,body{
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.formSlider{
  overflow: hidden;
  max-width: 390px;
  background: linear-gradient(to bottom left, #4a4d7a,#5db6c0);
  padding: 30px;
  border-radius: 15px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  transform: translateY(-60px);

}
.formSlider .title-text{
  display: flex;
  width: 200%;
  font-family: 'Courgette', sans-serif;
  color: #FFFFFF;
  text-shadow: 1px 1px 1px #f7bb63;
}
.formSlider .title{
  width: 50%;
  font-size: 50px;
  font-weight: 600;
  text-align: center;
  transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.formSlider .slide-controls{
  position: relative;
  display: flex;
  height: 50px;
  width: 100%;
  background: #fff;
  overflow: hidden;
  margin: 30px 0 10px 0;
  justify-content: space-between;
  border: 1px solid lightgrey;
  border-radius: 15px;
}
.slide-controls .slide{
  height: 100%;
  width: 100%;
  color: #fff;
  font-size: 25px;
  font-weight: 500;
  text-align: center;
  line-height: 48px;
  cursor: pointer;
  z-index: 1;
  transition: all 0.6s ease;
}
.slide-controls label.signup{
  color: #000;
}
.slide-controls .slider-tab{
  position: absolute;
  height: 100%;
  width: 50%;
  left: 0;
  z-index: 0;
  border-radius: 15px;
  background: -webkit-linear-gradient(right,#003366,#004080,#0059b3
, #0073e6);
  transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
input[type="radio"]{
  display: none;
}
#signup:checked ~ .slider-tab{
  left: 50%;
}
#signup:checked ~ label.signup{
  color: #fff;
  cursor: default;
  user-select: none;
}
#signup:checked ~ label.login{
  color: #000;
}
#login:checked ~ label.signup{
  color: #000;
}
#login:checked ~ label.login{
  cursor: default;
  user-select: none;
}
.formSlider .form-container{
  width: 100%;
  overflow: hidden;
}
.form-container .form-inner{
  display: flex;
  width: 200%;
}
.form-container .form-inner a{
  width: 50%;
  transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.form-inner a .field{
  height: 50px;
  width: 100%;
  margin-top: 20px;
}
.form-inner a .field input{
  height: 100%;
  width: 100%;
  outline: none;
  padding-left: 15px;
  border-radius: 15px;
  border: 1px solid lightgrey;
  border-bottom-width: 2px;
  font-size: 17px;
  transition: all 0.3s ease;
}
.form-inner form .field input:focus{
  border-color: #1a75ff;
  /* box-shadow: inset 0 0 3px #fb6aae; */
}
.form-inner form .field input::placeholder{
  color: #999;
  transition: all 0.3s ease;
}
a .field input:focus::placeholder{
  color: #1a75ff;
}

a .btn{
  height: 50px;
  width: 100%;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
}
a .btn .btn-layer{
  height: 100%;
  width: 300%;
  position: absolute;
  left: -100%;
  background: -webkit-linear-gradient(right,#003366,#004080,#0059b3
, #0073e6);
  border-radius: 15px;
  transition: all 0.4s ease;;
}
a .btn:hover .btn-layer{
  left: 0;
}
a .btn input[type="submit"]{
  height: 100%;
  width: 100%;
  z-index: 1;
  position: relative;
  background: none;
  border: none;
  color: #fff;
  padding-left: 0;
  border-radius: 15px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

.container {
  background: -webkit-linear-gradient(right,#003366,#004080,#0059b3
, #0073e6);
  padding: 20px;
  width: 1500px;
}

#message {
  display: center;
  background: #ffffff;
  color: #000;
  position: relative;
  padding: 20px;
  margin-top: 10px;
}

#message p {
  padding: 10px 35px;
  font-size: 18px;
}

.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -35px;
  content: "?";
}

.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -35px;
  content: "?";
}